---
skip: {{ not useTypescript }}
---
{
	"extends": "./tsconfig.project.json",
	"compilerOptions": {
		"module": "CommonJS",
		"moduleResolution": "node",
		"outDir": "./lib",
		"rootDir": "./src",
		"composite": true,
		"declaration": true,
		"declarationDir": "./lib",
		"noEmit": false
	},
	"include": ["src/**/*"],
	"exclude": ["tests/**/*"]
}
