---
skip: {{ not useTypescript }}
---
{
	"extends": "./tsconfig.project.json",
	"compilerOptions": {
		"module": "ESNext",
		"moduleResolution": "bundler",
		"outDir": "./esm",
		"rootDir": "./src",
		"composite": true,
		"declaration": true,
		"declarationDir": "./esm",
		"noEmit": false
	},
	"include": ["src/**/*"],
	"exclude": ["tests/**/*"]
}
