---
skip: {{ not useTypescript }}
---
{
	"extends": "../../tsconfig.options.json",
	"compilerOptions": {
		"noEmit": true,
		"verbatimModuleSyntax": false,
		"baseUrl": "./",
		"paths": {
			"@figma-plugin-sdk/message-bus": [
				"./src/index.ts"
			],
			"@figma-plugin-sdk/message-bus/*": [
				"./src/*"
			]
		}
	},
	"include": [
		"./src/**/*",
		"./tests/**/*"
	]
}
