---
skip: {{ not useTypescript }}
---
{
  "extends": "../../tsconfig.options.json",
  "compilerOptions": {
    "outDir": "../../.moon/cache/types/packages/{{name}}",
    "verbatimModuleSyntax": false
  },
  "include": [
    "src/**/*",
    "tests/**/*"
  ],
  "references": [
    {
      "path": "./tsconfig.esm.json"
    },
    {
      "path": "./tsconfig.lib.json"
    }
  ]
}
