---
skip: {{ not useTypescript }}
---
{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "allowImportingTsExtensions": true,
    "composite": true,
    "noEmit": false,
    "emitDeclarationOnly": true,
    "outDir": "./.tsc"
  },
  "include": ["src/**/*"]
}
