html {
  height: 100%;
}

html.figma-dark {
  background-color: #2c2c2c;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-default);
}

.story-layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}

.sbdocs .story-layout {
  height: 350px;
}

#storybook-root {
  min-width: 250px;
  max-width: 500px;
}

body {
  margin: 0;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-11);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-16);
}

div, span {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: inherit;
}

button {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font: inherit;
  outline: 0;
}

hr {
  border: 0;
  margin: 0;
}

label {
  display: block;
}

input, textarea {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-appearance: none;
  cursor: default;
  font: inherit;
  outline: 0;
}

svg {
  display: block;
}

::selection {
  background-color: var(--figma-color-bg-onselected);
}
