---
skip: {% if add_sample %}false{%else%}true{% endif %}
---
{% raw %}
{% extends "utils" %}
---
force: {{__replace_all}}
---
{% block content -%}
{{ self::yaml_arr(name="sing", items=["a", "b", "c"]) }}
{% endblock content -%}
{% endraw %}